/*** 

====================================================================
    Banner Section
====================================================================

***/

.banner-section {
    position: relative;
    overflow: hidden;
    .slide-item {
        position: relative;
        .bg-image {
            @include overlay;
            @include background;
            &:before {
                @include overlay;
                @include background;
                background-image: url(../images/main-slider/bg-pattern-3.png);
                background-color: var(--bg-theme-color1);
                opacity: .60;
                content: "";
            }
        }
    }
    .content-box {
        position: relative;
        padding: 230px 0 200px;
        text-align: center;
        .sub-title{
            position: relative;
            display: inline-block;
            padding: 5px 20px;
            line-height: 30px;
            font-size: 14px;
            color: #ffffff;
            font-weight: 700;
            text-transform: uppercase;
            background-color: rgba(255,255,255,.10);
            letter-spacing: .05em;
            border-radius: 10px;
            margin-bottom: 15px;
        }
        .title{
            font-size: 100px;
            font-weight: 700;
            color: #ffffff;
            letter-spacing: -.04em;
            margin-bottom: 35px;
        }
        .btn-box{
            display: flex;
            align-items: center;
            justify-content: center;
            .theme-btn{
                margin: 0 5px;
            }
        }
        
    }
}

/* Animate 1 */
.owl-carousel{
    .animate-7,
    .animate-6,
    .animate-5,
    .animate-4,
    .animate-3,
    .animate-2,
    .animate-1{
        opacity: 0;
        transform: translateY(100px);
        transition: all 500ms ease;
    }
    .animate-x {
        opacity: 0;
        transform: translateX(100px);
        transition: all 500ms ease;
    }
    
    .active{
        .animate-7,
        .animate-6,
        .animate-5,
        .animate-4,
        .animate-3,
        .animate-2,
        .animate-1 {
            opacity: 1;
            transform: translateY(0);
        }
        .animate-2 {
            transition-delay: 300ms;
        }
        .animate-3 {
            transition-delay: 600ms;
        }
        .animate-4 {
            transition-delay: 900ms;
        }
        .animate-5 {
            transition-delay: 1200ms;
        }
        .animate-6 {
            transition-delay: 1500ms;
        }
        .animate-7 {
            transition-delay: 1800ms;
        }
    }
}


.banner-carousel .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .owl-next,
    .owl-prev {
        display: block;
        margin: 10px 0;
        height: 50px;
        width: 50px;
        color: var(--theme-color1);
        border-radius: 50%;
        background-color: rgba(255,255,255,1);
        font-size: 20px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
        opacity: .20;
        transition: all 500ms ease;
        &:hover {
            opacity: 1;
        }
    }
}



.banner-two-carousel .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 41%;
    max-width: 1400px;
    padding: 0 15px;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .owl-next,
    .owl-prev {
        display: block;
        margin: 10px 0;
        height: 50px;
        width: 50px;
        color: var(--theme-color1);
        border-radius: 50%;
        background-color: rgba(255,255,255,1);
        font-size: 20px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
        opacity: .20;
        transition: all 500ms ease;
        &:hover {
            opacity: 1;
        }
    }
}

.banner-two-carousel {
    position: relative;
    overflow: hidden;
    .slide-item {
        position: relative;
        min-height: 748px;
        .bg-image {
            @include overlay;
            @include background;
            &:before {
                @include overlay;
                @include background;
                background-color: rgba(29, 47, 65,0.3);
                content: "";
            }
        }
    }
    .content-box {
        position: relative;
        padding: 180px 0 120px;
        text-align: left;
        .title{
            font-size: 80px;
            line-height: 90px;
            color: #fff;
            font-weight: 700;
            letter-spacing: 0;
            margin-bottom: 60px;
            span {
                color: var(--theme-color2);
            }
        }
        .btn-box {
            justify-content: flex-start;
        }
        
    }
}



/*** 

====================================================================
    Banner Section Two
====================================================================

***/

.banner-section-two {
    .content-box {
        padding: 350px 0 200px;
    }
    .slide-item {
        .bg-image {
            &:before {
                display: none;
            }
            &:after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                pointer-events: none;
                background: linear-gradient(#011425, #011425 100%, #011425 80%);
                opacity: 0.6;
            }
        }
    }
}


.banner-social-links{
    position: absolute;
    left: -100px;
    top: 50%;
    transform: rotate(-90deg);
    z-index: 2;
    display: flex;
    align-items: center;
    li{
        position: relative;
        margin: 0 15px;
        a{
            position: relative;
            padding: 0 10px;
            color: #fff;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: .1em;
            text-transform: uppercase;
            &:before{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 0;
                border-bottom: 1px solid var(--border-theme-color2);
                content: "";
                transition: all 300ms ease;
            }
            &:hover{
                &:before{
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}



/*** 

====================================================================
    Banner Section Three
====================================================================

***/

.banner-section-three{
    position: relative;
    overflow: hidden;
    .slide-item {
        position: relative;
        padding: 340px 0 110px;
        .bg-image {
            @include overlay;
            @include background;
            &:before {
                @include overlay;
                @include background;
                background-image: url(../images/main-slider/bg-pattern-3.png);
                background-color: var(--bg-theme-color1);
                opacity: .60;
                content: "";
            }
        }
    }
    .content-box {
        position: relative;
        top: -60px;
        z-index: 2;
        .arrow-icon{
            position: absolute;
            right: -20px;
            top: 210px;
        }
        .title {
            font-size: 80px;
            line-height: 100px;
            color: var(--text-color-bg-theme-color1);
            font-weight: 700;
            margin-bottom: 50px;
            br {
                display: none;
            }
        }
    }
    .banner-carousel .owl-nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: -70px;
        .owl-next{
            margin: 5px 0;
        }
    }

    .play-btn {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        margin-left: 20px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        letter-spacing: .15em;
        .icon {
            height: 58px;
            width: 58px;
            border-radius: 50%;
            background-color: #ffffff;
            color: var(--theme-color1);
            padding-left: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            transition: all 300ms ease;
        }
        &:hover .icon {
            background-color: var(--theme-color1);
            color: var(--theme-color2);
        }
    }
}



/*** 

====================================================================
    Banner Section Four
====================================================================

***/

.banner-section-four{
    position: relative;
    overflow: hidden;
    .slide-item {
        position: relative;
        height: 770px;
        padding: 225px 0;
        text-align: right;
        .bg-image {
            @include overlay;
            @include background;
            &:before {
                @include overlay;
                background-color: rgba(29, 47, 65,0.3);
                content: "";
            }
        }
    }
    .content-box {
        position: relative;
        z-index: 2;
        text-align: left;        
        display: inline-block;
        .inner{
            position: relative;
            text-align: right;
        }
        .sub-title {
            position: relative;
            display: inline-block;
            text-align: left;
            font-size: 16px;
            color: #ffffff;
            line-height: 22px;
            font-weight: 400;
            padding: 5px 20px;
            text-transform: uppercase;
            background-color: rgba(255,255,255,.10);
            letter-spacing: .1em;
            margin-bottom: 10px;
        }

        .title {
            font-size: 150px;
            text-transform: uppercase;
            color: #ffffff;
            letter-spacing: .08em;
            font-weight: 700;
        }
        h3{
            position: relative;
            font-size: 40px;
            color: #ffffff;
            font-weight: 400;
            margin-top: -15px;
            margin-bottom: 30px;
        }
    }
    .banner-carousel .owl-nav {
        flex-direction: column;
        align-items: flex-start;
        margin-top: -70px;
        .owl-next{
            margin: 5px 0;
        }
    }
}
